html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: Montserrat;
    color: #8B8B8B;
    padding: 0 20px;
    margin: 0;
    text-align: center;
}

/* Font-style, margin h1, h2, p, li */

h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
    color: black;
}

h2 {
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin: 0 0 15px 0;
}

p {
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 30px 0;
}

li {
    font-weight: 300;
    font-size: 13px;
}

/* Image Happy traveller */

.center-image {
    display: flex;
    justify-content: center;
}

.img_happy-traveller {
    width: 350px;
    margin: 60px 0 40px 0;;
}

/* Blue line under h1*/

.blue-border {
    border-bottom: 2px solid #407BFF;
    margin: 10px calc(50% - 30px) 30px calc(50% - 30px);
}

/* Buttons */

.elipse-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elipse-button {
    font-weight: 400;
    font-size: 14px;
    border-radius: 20px;
    padding: 11px 30px;
    text-align: center;
    color: white;
}

.blue {
    width: 195px;
    background-color:#407BFF;
    margin-bottom: 10px;
}

.grey {
    width: 225px;
    background-color: #8B8B8B;
    margin-bottom: 60px;
}

/* Services */

.services {
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    flex-direction: column;
}

.offer {
    box-shadow: 0px 4px 6px #407BFF1F;
    display: flex;
    align-items: center;
}

.img-offer {
    padding: 20px 30px 20px 20px;
}

.margin-bottom-last {
    margin-bottom: 60px;
}


@media screen and (min-width: 640px) {

    h2 {
        margin: 0 0 20px 0;
    }

    .img_happy-traveller {
        width: 400px;
        margin: 60px 0 30px 0;;
    }

    .p-services {
        margin-bottom: 40px;
    }

    /* Buttons */

    .elipse-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .elipse-button {
        margin-bottom: 80px;
    }

    .blue {
        margin-right: 20px;
    }

    /* Services */

    .services {
        flex-direction: row;
        gap: 20px;
    }

    .offer {
        flex-direction: column;
        margin-bottom: 80px;
        width: 227px;
    }

    .img-offer {
        padding: 40px 95px 20px 95px;
    }

    .text-offer {
        padding: 0 15px 20px 15px;
        height: 70px;
    }
}
