html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    font-family: Montserrat;
    color: #8B8B8B;
    padding: 0 20px;
    margin: 0;
    text-align: center;
}

/* Font-style, margin h1, h2, p, li */

h1 {
    font-weight: 500;
    font-size: 28px;
    margin: 0;
    color: black;
}

h2 {
    font-weight: 500;
    font-size: 16px;
    color: black;
    margin: 0 0 15px 0;
}

p {
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 30px 0;
}

li {
    font-weight: 300;
    font-size: 13px;
}

/* Image Happy traveller */

.happy-travels-image {
    display: flex;
    justify-content: center;
}

.img_happy-traveller {
    flex: 1 1 100%;
    margin: 60px 75px 40px 75px;
}

/* Blue line under h1*/

.blue-border {
    border-bottom: 2px solid #407BFF;
    margin: 10px calc(50% - 30px) 30px calc(50% - 30px);
}

/* Buttons */

.elipse-buttons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elipse-button {
    font-weight: 400;
    font-size: 14px;
    border-radius: 20px;
    padding: 11px 30px;
    text-align: center;
    color: white;
}

.blue {
    width: 195px;
    background-color:#407BFF;
    margin-bottom: 10px;
}

.grey {
    width: 225px;
    background-color: #8B8B8B;
    margin-bottom: 60px;
}

/* Services */

.services {
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    flex-direction: column;
}

.offer {
    box-shadow: 0px 4px 6px #407BFF1F;
    display: flex;
    align-items: center;
}

.img-offer {
    padding: 20px 30px 20px 20px;
}

.margin-bottom-last {
    margin-bottom: 60px;
}


@media screen and (min-width: 640px) {

    .happy-travels-text, .ck-text, .delegate-text {
        margin-left: 100px;
        margin-right: 100px;
    }

    h2 {
        margin: 0 0 20px 0;
    }

    .img_happy-traveller {
        margin: 60px 185px 30px 185px;
    }

    .p-services {
        margin-bottom: 40px;
    }

    /* Buttons */

    .elipse-buttons {
        flex-direction: row;
        justify-content: center;
    }

    .elipse-button {
        margin-bottom: 80px;
    }

    .blue {
        margin-right: 20px;
    }

    /* Services */

    .services {
        flex-direction: row;
        gap: 20px;
        justify-content: center;
    }

    .offer {
        flex: 1 1 auto;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .img-offer {
        padding-top: 40px;
    }

    .text-offer {
        padding: 0px 15px 20px 15px;
        /* height: 70px; */
    }
}

@media screen and (min-width: 1100px) {

    body {
        text-align: left;
        padding: 0 80px;
    }

    .happy-travels-text, .ck-text, .delegate-text {
        margin-left: 0;
        margin-right: 0;
    }

    /* First section */

    .blue-border {
        margin: 10px calc(100% - 60px) 30px 0px;
    }

    .happy-travels {
        display: flex;
        gap: 60px;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .happy-travels-image {
        order: 2;
        flex: 1 1 50%;
    }

    .img_happy-traveller {
        margin: 0 auto 0 auto;
        flex: 1 1 100%;
        max-width: 425px;
    }

    .happy-travels-text {
        order: 1;
        margin-top: calc(133px - 60px);
        flex: 1 1 50%;
    }

    .elipse-buttons {
        justify-content: left;
    }

    .elipse-button {
        margin-bottom: 0px;
    }

    /* other sections */

    .all-services {
        display: flex;
        gap: 60px;
    }

    .services {
        flex: 1 1 auto;
    }

    .ck-text {
        order: 1;
    }

    .ck-text, .delegate-text {
        flex: 1 1 auto;
    }

    .text-offer {
        text-align: center;
    }
    
    .ck {
        margin-bottom: 80px;
    }

    .delegate {
        margin-bottom: 60px;
    }

    .offer {
        margin-bottom: 0;
    }


}